body {
    margin: 0px;
    padding: 0px;
    height: 80%;
}

#header {
    background-color: midnightblue;
    color: white;
    text-align: center;
    padding: 2px;
}

#seting {
    line-height: 30px;
    background-color: #eeeeee;
    height: 60%;
    width: 50%;
    float: left;
    padding: 5px;
}

#seting1 {
    line-height: 25px;
    background-color: #eeeeee;
    height: 50%;
    width: 100%;
    float: left;
    clear: both;
}

#seting2 {
    line-height: 20px;
    background-color: #eeeeee;
    height: 210px;
    width: 80%;
    float: left;
    margin-top: 40px;
    overflow: scroll;
    border-top-style: solid;
    border-top-width: 1px;
}

#section {
    width: 45%;
    height: 100%;
    float: left;
    padding: 0px;
}

#footer {
    background-color: black;
    color: white;
    clear: both;
    text-align: center;
    padding: 5px;
}

table {
    style: "border-collapse: collapse";
    border: 1px black;
    width: 100%;
}


#navigate ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
}

#navigate li {
    float: left;
}

#navigate a:link, a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #bebebe;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

#navigate a:hover, a:active {
    background-color: #cc0000;
}


